*{
    font-family: 'Roboto',sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    box-sizing: border-box;
}
html{
    font-size: 65%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
html::-webkit-scrollbar-track
{
    background: transparent;
}
html::-webkit-scrollbar
{
    width: 1rem;
}
html::-webkit-scrollbar-thumb
{
    background: gainsboro;
}
section
{
    padding: 3rem 9%;
}
.heading
{
    text-align: center;
    color: black;
    margin-bottom: 3rem;
    font-size: 4rem;
}
.heading:hover
{
    letter-spacing: .1rem;
}
span{
    color:#e4007c;
}
.header
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background:palevioletred;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;
}
body{
    padding-top: 60px;
}
.logo
{
    font-size: 2.5rem;
    color:#f2f2f2;
    font-weight:bolder;
}
.topnav {
    background-color:palevioletred;
  }

.topnav a {
    float: left;
    color: #f2f2f2;  
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
.topnav a:hover {
    background-color: #ddd;
    color:black;
  }
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  .category .boxcontainer
  {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }
.category .boxcontainer .box
{
    text-align: center;
    font-size: 30px;
}
.category .boxcontainer .box:hover h3
{
    color: #2e8b57;
    font-size: bold;
}
.category .boxcontainer .box img
{
    height: 25rem;
    margin-bottom: 1rem;
}
.shop
{
    color: white;
}
.shop .box-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    gap: 2rem;

}
.shop .box-container .box
{
    text-align: center;
    background: white;
    border: 0.2rem solid black;
}
.shop .box-container .box:hover .image img
{
    transform: scale(1.1);


}
.shop .box-container .box:hover .image .icons
{
    transform: translateX(0rem);
}
.shop .box-container .box .image
{
    position: relative;
    overflow: hidden;
}
.shop .box-container .box .image img
{
    height: 15rem;
    padding-top: 2rem;
}
.shop .box-container .box .image .icons
{
    position: absolute;
    top: 0rem;
    left: 1rem;
    transform: translateX(-10rem);
}
.shop .box-container .box .image .icons a{
    display: block;
    height: 5rem;
    width: 5rem;
    line-height: 1rem;
    font-size: 1.9rem;
    color: black;
    border-radius: 0.2rem solid black;
    margin-top: 1rem;
}
.shop .box-container .box .image .icons a:hover{
    color: green;
    
}
.shop .box-container .box .content
{
    padding: 2rem;
}
.shop .box-container .box .content h3
{
    color: black;
    font-size: 2rem;
}
.shop .box-container .box .content .price
{
    font-size: 2rem;
    font-weight: bolder;
    color: black;
}
.shop .box-container .box .content .stars
{
    padding-top: 0.5rem 0;
    i{
        font-size: 1.5rem;
        color: yellow;
    }
}
.button
{
    display: inline-block;
    margin-top: 1.5rem;
    padding: 1rem;
    color:#00008b;
    border: 2px solid #00008b;
    font-size: 1.7rem ;
    box-shadow: 0 0.5rem 1rem #00008b;
    cursor: pointer;
}
.button:hover
{
    letter-spacing: 0.1rem;
    color:white;
    background-color: green;
}
.si
{
    display: inline-block;
    padding: 1rem;
    background-color: hsl(158, 95%, 34%)  ;
    border: 2px solid hsl(158, 95%, 34%);
    font-size: 1.7rem ;
    cursor: pointer;
    border-radius: 20px;
}
.si:hover
{
    letter-spacing: 0.1rem;
}
.buy
{
    display: inline-block;
    margin-top: 1.5rem;
    padding: 1rem;
    color:#00008b;
    border: 2px solid #00008b;
    font-size: 1.7rem ;
    box-shadow: 0 0.5rem 1rem #00008b;
    cursor: pointer;
    border-radius: 20px;

}
.buy:hover
{
    letter-spacing: 0.2rem;
    color:white;
    background-color: green;
}
.footer{
    background: gainsboro;
}

.footer .box-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
    color: #e4007c;
}
.footer .box-container .box h3
{
    font-size: 2.3rem;
    padding: 1rem 0;

}
.footer .box-container .box .link
{
    padding: 1rem 0;
    font-size: 1.3rem;
    display: block;
    color: black;
}
.footer .box-container .box .link i{
    padding-right: 2rem;
    color: #00008b;

}
.footer .box-container .box .link:hover
{
    color:#e4007c;

}
.footer .box-container .box .link:hover i
{
    padding-left: 2rem;
}
.footer .box-container .box .share
{
    margin-top: 2rem;
}
.footer .box-container .box .share a{
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    text-align: center;
    margin-right: 0.5rem;
}
.footer .box-container .box .share a:hover{
    color: white;
    background-color: #e4007c;
}
.footer .credit
{
    text-align: center;
    padding: 1rem;
    padding-top: 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    border-top: 0.2rem solid black;
    color: black;
}
